header {
background-color: hsl(120, 100%, 38%);
color:#FFFFFF;
display: flex;



}
ul {
font-size: 15px;
color:aliceblue

}
.cabecalho-imagem{
    background-color: hsl(120, 100%, 38%);
    color: #a81414;
    width: 50px;
    weight: 50px;
    margin: 20px;
    padding: 20px;
}
*{
    margin: 0;
    padding: 0;
}
.lista-cabeçalho{
    display: flex;
}
.imagem-colegio{
    width: 20%;
    weight: 20%;
}